
@{
    ViewBag.Title = "Sort";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h2>Sort</h2>
<body>
<form action="~/TaiKhoan/Sort" method="get">
    <input type="radio" name="searchBy" value="all" checked /> Hiện tất cả
    <input type="radio" name="searchBy" value="nv" /> Chỉ hiện nhân viên
    <input type="radio" name="searchBy" value="kh" /> Chỉ hiện khách hàng
    <input type="submit" />
</form>
<table style="border:1px solid black;" border="1">
    <tr>
        <td>Id</td>
        <td>Tên Đăng Nhập</td>
        <td>Mật Khẩu</td>
        <td>Tên tài khoản</td>
        <td>Số điện thoại</td>
        <td>Loại tài khoản</td>
        <td>Thao Tác</td>
    </tr>
    @foreach (var a in ViewBag.list)
    {
        <tr>
            <td>@a[0]</td>
            <td>@a[1]</td>
            <td>@a[2]</td>
            <td>@a[3]</td>
            <td>@a[4]</td>
            <td>
                @if (@a[5] == "1")
                {
                    <p>Admin</p>
                }
                else if (@a[5] == "2")
                {
                    <p>Nhân viên</p>
                }
                else if (@a[5] == "3")
                {
                    <p>Khách Hàng </p>
                }
            </td>
            <td>
                <a href="/TaiKhoan/XoaTaiKhoan?id=@a[0]">Xóa</a>
                <a href="/TaiKhoan/ChiTietTK?id=@a[0]">Sửa</a>
            </td>
        </tr>
    }
</table>
<form action="~/TaiKhoan/ThemTaiKhoan" method="post">
    Tên Đăng Nhập:<input type="text" name="tendn" /><br />
    Mật Khẩu :<input type="text" name="matkhau" /><br />
    Tên tài khoản :<input type="text" name="tentk" /><br />
    Số điện thoại :<input type="text" name="sdt" /><br />
    Loại tài khoản  :<select name="loaitk">
        @foreach (var b in ViewBag.list)
        {
            <option value="@b[5]">
                @if (@b[5] == "1")
                {
                    <p>Admin</p>
                }
                else if (@b[5] == "2")
                {
                    <p>Nhân viên</p>
                }
                else if (@b[5] == "3")
                {
                    <p>Khách Hàng </p>
                }
            </option>
        }

    </select>
    <input type="submit" value="Thêm tài khoản" />
</form>
</body>
